/**
*********************
* Colors
********************
**/

/* Default colors */
$color--white: #fff !default;
$color--gray: #565758 !default;
$color--mine-shaft: #333333 !default;
$color--dove-gray: #666666 !default;
$color--black: #010102 !default;
$color-error: #ff3333  !default;

/* Theme Colors */
$color--primary: #B88E2F !default;
$color--secondary: #C1554C !default;

/* Theme link color */
$color--link: $color--primary;
$color--link-hover: $color--secondary;