/**
*********************
* Mixins
********************
**/

@mixin inputstyle {
  max-width: 100%;
  padding: 0.8rem;
  border: 1px solid lighten($color--gray, 20%);
  border-radius: 0.625rem;
  outline: none;
  font-family: $font-family;
  font-size: $font-size--s;
  font-weight: $font-weight--medium;
  line-height: 1.2;

  &:focus {
    /* border: 1px solid blue; */
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

// Buttons
@mixin button($padding: 0.5rem 1rem, $font-size: $font-size) {
  position: relative;
  display: inline-block;
  min-width: 5.15rem;
  padding: $padding;
  text-align: center;
  text-decoration: none;
  color: $color--white !important;
  border: 1px solid $color--primary;
  border-radius: 0.5rem;
  background: $color--primary;
  font-size: $font-size;
  font-weight: $font-weight--medium;

  &:hover {
    background: darken($color--primary, 10%);
  }
}
