/**
*********************
* Variables
********************
**/

/* Font Family */
$font-family: "Inter", sans-serif;
$font-family--secondary: "Helvetica Neue", "Helvetica", "Comic Sans", sans-serif;

/* Line Height */
$line-height: 1.5;

/* Font Weight */
$font-weight: 400;
$font-weight--light: 300;
$font-weight--medium: 600;
$font-weight--bold: 800;

/* Font Size */
$font-size: 1rem;
$font-size--s: 0.875rem;
$font-size--xs: 0.75rem;
$font-size--l: 1.25rem;
$font-size--xl: 1.65rem;
$font-size--xxl: 2rem;
$font-size--h1: 3rem;
$font-size--h2: 1.8rem;
$font-size--h3: $font-size--l;

/* space */
$space: 1rem;
$space--xs: 0.25rem;
$space--s: 0.75rem;
$space--m: 1.5rem;
$space--l: 2.5rem;
$space--xl: 3.5rem;
$space--xxl: 7rem;

/* Drupal Default Messages */
$color--messages-background: #353641 !default;
$color--messages-border: #353641 !default;
$color--messages--error: #e34f4f !default;
$color--messages--status: #42a877 !default;
$color--messages--warning: #e0ac00 !default;
