/**
*********************
* Main content area
********************
**/

.main-wrapper {
  padding: 1rem 0 0;
}

.node--type-article {
  .node__content {
    .readmore-btn {
      display: inline-block;
      min-width: 82px;
      padding: 6px 12px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      border-radius: 8px;
      background-color: #b88e2f;
      font-size: 16px;
      font-weight: 600;
    }
  }
}