@import "../settings/*";

.node {
  .links {
    margin-top: 1rem;
  }

  .form-actions {
    margin-top: 1rem;
  }
}

.node__content-tags {
  margin-top: 1rem;
  display: inline-block;

  a {
    background-color: lighten($color--primary, 50%);
    padding: 0.5rem 0.4rem;
    display: inline-block;
    text-decoration: none;
  }
}

.comments-section {
  > h2 {
    margin-top: 2rem;
  }
}
