@import "../settings/*";

.node__meta {
  width: 4.688rem;
  float: left;
  text-align: center;
  margin-right: 1rem;

  a {
    color: $color--gray;
    text-decoration: none;
    text-transform: uppercase;
  }

  &--date-month {
    display: block;
    text-transform: uppercase;
    font-weight: $font-weight--bold;
    margin-top: 0.1rem;
  }
  
  &--date-day {
    display: block;
    font-weight: $font-weight--bold;
    font-size: 2rem;
    line-height: 2rem;
  }

  &--date-year {
    display: block;
    font-weight: $font-weight--bold;
  }
}


.user-picture {
  img {
    border-radius: 100%;
    max-width: 100%;
    height: auto;
  }
}