/**
*********************
* Header area; should have styles for branding regions, navigation region, etc.
********************
**/

.footer {
  padding: 2.5rem 0;
  margin-top: 2.5rem;
  color: $color--white;
  background: $color--primary;
  font-size: 0.9rem;

  a {
    color: $color--white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    margin-bottom: 0.9rem;
    font-size: 1.2rem;
  }

  nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;

    li.menu__item {
      float: left;
      width: 50%;
      margin-bottom: 0.7rem;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.is-active {
          color: $color--white;
        }
      }
    }
  }

  .block {
    margin-bottom: 1rem;
  }
}

.footer__address {
  i {
    margin-right: 0.5rem;
  }
}

.footer__social {
  a {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $color--white;
    border-radius: 100%;
    margin-right: 0.75rem;
    font-size: 1.2rem;

    &:hover {
      color: $color--white;
    }
  }
}
