/**
*********************
* Header area; should have styles for branding regions, navigation region, etc.
********************
**/

.header {
	background-color: $color--white;
	position: relative;
  margin-bottom: 0.25rem;
}

.header__main {
	z-index:9;
	width:100%;
	box-shadow: 0.125rem 0.125rem 0.188rem rgba($color--black, 0.5);
  background-color: $color--white;
	transition:all 0.4s ease;
	animation: fadeInDown 0.5s both 0.1s;

  /* Header Sticky */
  &.sticky {
    position:fixed;
    z-index:9;
    top:0;
    left:0;
    right: 0;

    .toolbar-tray-open & {
      top:4.938rem;
    }
  }
}

.header__contact-us {
	&__btn {
		@include button();
	}
}

.logo {
  img {
    max-height: 2.25rem;
    width: auto;
  }

	a {
		text-decoration: none;
	}
}
