/**********/
/* Top Bar */
/**********/

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0.938rem 0;
  border-bottom:1px solid #eee;
  font-size: 0.875rem;

  &-wrapper {
    border-bottom: 1px solid grey;
  }
}

ul.top-contact {
  margin: 0;
  padding: 0;

  li {
    display:inline-block;
    margin-right: 1.563rem;

    i {
      margin-right: 0.5rem;
    }

    a {
      color: $color--black;
      text-decoration: none;

      &:hover {
        color:$color--primary;
      }
    }

    &:last-child {
      margin-right:0;
    }
  }
}
