@import "../settings/settings";

.banner {
  &__content {
    background-color: lighten($color--primary, 45%);

    @include media-breakpoint-down(md) {
      background-color: rgba(255,255,255, 0.9);
    }
  }

  &__title {
    color: $color--primary;
  }

  &__btn {
    @include button();
  }

  .splide__slide img {
    min-height: 16.25rem;
    max-height: 37.5rem;
    object-fit: cover;
    width: 100%;
    object-position: left;
  }
}
