.block-search {
  form {
    display: flex;
  }

  .form-item {
    flex-grow: 1;
  }

  input[type="search"] {
    border-radius: 0.625rem 0 0 0.625rem;
    width: 100%;
  }

  .form-actions {
    display: flex;
  }

  input[type="submit"] {
    border-radius: 0 0.625rem 0.625rem 0;
  }
}