/**
*********************
* Base global styles.
********************
**/

@import "../settings/settings";

body,
html {
  word-break: break-word;
  color: $color--black;
  font-family: $font-family;
  font-size: 14px;
  font-weight: $font-weight;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;

  @include media-breakpoint-up(md) {
    font-size: 15px;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size;
  }
}

.button {
  @include button();
}
