/**
*********************
* Theme typography to de
********************
**/
@import "../settings/settings";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: $space--m;
  font-family: $font-family;
  font-weight: $headings-font-weight;
  line-height: $line-height;

  span {
    color: $color--primary;
  }
}

h1,
.h1 {
  font-size: $font-size--h1;
  line-height: 4rem;
}

h2,
.h2 {
  font-size: $font-size--h2;
  line-height: 2.3rem;
}

h3,
.h3 {
  font-size: $font-size--h3;
}

a {
  &:link,
  &:visited {
    color: $color--link;
  }

  &:hover,
  &:focus {
    color: $color--link-hover;
  }
}

p {
  margin: 0 auto $space--m auto;
  line-height: $line-height;

  &:last-child {
    margin-bottom: 0;
  }
}
