$blockquote-bg: #f9f9f9;
$blockquote-grey: #ccc;

blockquote {
	background: $blockquote-bg;
	border-left: 0.625rem solid $blockquote-grey;
	margin: 1.25rem;
	padding: 1rem 0.625rem;
	quotes: "\201C""\201D""\2018""\2019";
	display: inline-block;
}

blockquote:before {
	color: $blockquote-grey;
	content: open-quote;
	font-size: 3rem;
	line-height: 0.1rem;
	margin-right: 0.25rem;
	vertical-align: -1rem;
}

blockquote:after {
	color: $blockquote-grey;
	content: close-quote;
	font-size: 3rem;
	line-height: 0.1rem;
	margin-left: 0.25rem;
	vertical-align: -1rem;
}

blockquote p {
	font-style: italic;
	display: inline;
}
