/**
*********************
* Breadcrumbs
********************
**/

.breadcrumb {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 1rem 0 0 0;

  > * {
    font-family: $font-family;
    font-size: $font-size--s;
  }

  > li {
    &::after {
      margin: $space--xs;
      content: "\000BB";
    }

    &:last-child::after {
      content: "";
    }

    a {
      text-decoration: none;
    }
  }
}
