
input:not([type="radio"],[type="checkbox"],[type="submit"]),
select,
textarea {
  @include inputstyle;

  &::placeholder {
    color: $color--gray;
  }
}

[type="radio"],
[type="checkbox"] {
  position: relative;
  top: 0.188rem !important;
  right: auto !important;
  width: 0.938rem;
  height: 0.938rem;
  margin: 0 0.8rem 0 0 !important;
  border: solid 1px $color--secondary;
  appearance: none;

  &.error {
    border-color: $color-error;
  }
}

[type="radio"]:checked::before,
[type="checkbox"]:checked::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  content: "";
  background-color: $color--secondary;
}

[type="radio"],
[type="radio"]:checked::before {
  border-radius: 100%;
}

select {
  padding-right: 1.5rem;
  color: $color--black;
  background-image: url("../../../assets/media/icons/down.svg");
  background-repeat: no-repeat;
  background-position: 97% center;
  appearance: none;

  option {
    font-family: $font-family;
    font-size: $font-size--s;
    font-weight: $font-weight--medium;
    line-height: 1.2;

    &:not(:first-of-type) {
      color: $color--black;
    }
  }

  &:invalid {
    color: $color--gray;
  }
}

.search-form {
  .action {
    .button.form-submit {
      margin: 1rem 0;
    }
  }
}
