/**
*********************
* Main Menu
********************
**/

.header {
	.nav {
		li {
			position:relative;
	    margin-right: 1rem;
			list-style: none;

			&:last-child{
				margin-right: 0;
			}

			a, span {
				font-size: 0.938rem;
				font-weight: $font-weight--medium;
				text-transform: capitalize;
				padding: 1.563rem 0.75rem;
				position: relative;
				display: inline-block;
				text-decoration: none;

				&::before {
					position: absolute;
					content: "";
					left: 0;
					bottom: 0;
					height: 0.188rem;
					width:0;
					background: $color--primary;
					border-radius: 0.313rem 0.313rem 0 0;
					opacity:0;
					visibility: hidden;
					transition: all 0.4s ease;
				}
			}
			
			span {
				color: $color--primary;
			}

			&.active a,
			&:hover a,
			&.active span,
			&:hover span {
				color: $color--primary;

				&:before{
					opacity: 1;
					width: 100%;
					visibility: visible;
				}
			}

			.dropdown {
				padding: 0;
				background: $color--white;
				width: 13.75rem;
				position: absolute;
				left: -1.25rem;
				top: 100%;
				z-index: 999;
				box-shadow: 0 0.188rem 0.313rem rgba($color--mine-shaft, 0.4);
				transform-origin: 0 0 0;
				transform: scaleY(0.2);
				transition: all 0.3s ease 0s;
				opacity: 0;
				visibility: hidden;
				top: 4.625rem;
				border-left: 0.188rem solid $color--primary;

				a,span {
					padding: 0.75rem 1rem;
					color: $color--dove-gray;
					display: block;
					font-weight: 400;
					text-transform: capitalize;
					background: transparent;
					transition: all 0.2s ease;

          &::before {
            display: none;
          }
				}

				li {
					float:none;
					margin: 0;
					border-bottom: 1px solid lighten($color--gray, 50%);
          position: relative;

					&:last-child a {
						border-bottom: 0;
					}

					&:hover > a {
						color: $color--primary;
					}

          a:hover {
            border-color: transparent;
          }

          &:hover {
            > .dropdown {
              opacity: 1;
            }
          }

          .dropdown {
            left: 100%;
            top:0;
            opacity: 0;
          }
				}
			}

			&:hover .dropdown {
				opacity:1;
				visibility:visible;
				transform:translateY(0);
			}
		}
	}
}
