/* @use "../../settings" as *; */

.local-tasks {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;

  li {
    margin-right: 1rem;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-right: 0;
    }

    %active {
      color: $color--secondary;
      border-color: $color--secondary;
    }

    a {
      display: inline-block;
      padding: 0.375rem 0.625rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color--primary;
      border: 1px solid $color--primary;

      &.is-active,
      &:hover,
      &:focus {
        @extend %active;
      }
    }

    &.local-task__task--active a {
      @extend %active;
    }
  }
}
