/**
 * Messages.
 */

.messages {
  overflow: auto;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 2rem;
  color: $color--white;
  border-width: 0 0 0 0.5rem;
  border-style: solid;
  border-color: $color--messages-border;
  border-radius: 0.2rem;
  background-color: $color--messages-background;
  background-position: 0.5rem center;
  background-repeat: no-repeat;

  pre {
    margin: 0;
  }  

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &--error {
    border-color: $color--messages--error;
    background-image: url("../../../assets/images/icons/error.svg");

    a {
      color: $color--messages--error;
    }
  }

  &--status {
    border-color: $color--messages--status;
    background-image: url("../../../assets/images/icons/status.svg");
  }

  &--warning {
    border-color: $color--messages--warning;
    background-image: url("../../../assets/images/icons/warnning.svg");
  }

  .placeholder {
    background: none;
    opacity: 1;
    vertical-align: inherit;
  }

  a {
    text-decoration: underline;
    color: $color--messages--warning;

    &:hover {
      color: $color--white;
    }
  }

  &__title {
    margin: 0 0 0 5rem;
    font-size: 1rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__item + &__item {
    margin-top: 0.8rem;
  }
}
