ul.js-pager__items {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  padding: 0;
  margin: 2rem 0;

  li {
    list-style: none;
    float: left;

    a {
      text-decoration: none;

      &[title="Current page"] {
        font-weight: $font-weight--bold;
      }
    }
  }
}
