.slicknav_menu {
  font-size: 1rem;
	box-sizing: border-box;
	background: none;

	.slicknav_menutxt {
    display: none;
	}
	.slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0;

    &:before {
      background: transparent;
      width: 1.125em;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute;
    }
	}

	.slicknav_no-text {
		margin: 0;
	}

	.slicknav_icon-bar {
    background-color: $color--white;
    display: block;
    width: 1.125em;
    height: 0.125em;
    border-radius: 0.063rem;
    box-shadow: 0 0.063rem 0 rgba(0, 0, 0, 0.25);
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.313rem 0.625em 0.313rem 0.625rem;
  line-height: 1.125em;
  cursor: pointer;
  margin: 0.313rem 0.313rem 0.375rem;
  text-decoration: none;
  text-shadow: 0 0.063rem 0.063rem $color--black;
  border-radius: 0.25rem;
  background-color: $color--primary;

  .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em;
  }    
}

.slicknav_nav {
  color: $color--white;
  margin: 0;
  padding: 0.313rem;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden;
  clear: both;
  background: $color--primary;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 5;

	ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 1.25rem;
    display: block;

    li {
      display: block;
    }
	}

	.slicknav_row {
    display: block;
    padding: 0.313rem 0.625rem;
    margin: 0.125rem 0.313rem;
    &:hover {
      border-radius: 0.375rem;
      background: lighten($color--primary, 15%);
      color: $color--white;
    }
	}

	a {
		padding: 0.313rem 0.625rem;
		margin: 0.125rem 0.313rem;
		text-decoration: none;
		color: $color--white;

		&:hover {
			border-radius: 0.375rem;
			background: lighten($color--primary, 15%);
			color: $color--black;
		}
	}

  .slicknav_open ul span {
    padding: 0.313rem 0.625rem;
		margin: 0.125rem 0.313rem;
  }

	.slicknav_txtnode {
		margin-left: 0.938rem;
	}

	.slicknav_item {
		cursor: pointer;
		a {
      display: inline;
      padding: 0;
      margin: 0;
		}
	}

	.slicknav_parent-link a {
		padding: 0;
		margin: 0;
    display: inline;
	}

	.slicknav_arrow {
		font-size: 0.8em;
		margin: 0 0 0 0.4em;
	}

	a {
		display: block;
	}

}

.slicknav_brand {
  color: $color--white;
  font-size: 1.125rem;
  line-height: 1.875rem;
  padding: 0.438rem 0.75rem;
  height: 2.75rem;
  float: left;
}
