/**
*********************
* table
********************
**/

table{
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0;

  caption {
      margin-bottom: 0.625rem;
      text-align: center;
      font-weight: $font-weight--medium;
  }

  th, td {
    padding: 0.625rem 1.25rem;
    text-align: left;
    border-right: 1px solid $color--dove-gray;
    border-bottom: 1px solid $color--dove-gray;
  }

  tr {
      th {
          font-weight: $font-weight--medium;
          color: $color--white;
          background-color: $color--primary;
          border-right-color: $color--white;;
      }
      td {
          &:first-child{
              border-left: 1px solid $color--dove-gray;
          }
      }
  }
}
