/**
*********************
* webform
********************
**/

.webform,
.user-login-form,
.user-form,
.user-pass,
.contact-form {
  margin-top: 1.25rem;
  max-width: 30rem;

  %label {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: 1.2;
  }

  .form-item {
    margin-bottom: 0.625rem;

    label {
      @extend %label;

      &.form-required {
        &:after {
          margin-left: 0.313rem;
          content: '*';
          color: $color-error;
        }
      }
    }

    label:not(.option) {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;
      font-weight: $font-weight--medium;
    }

    .description {
      color: lighten($color--gray, 10%);
      font-size: $font-size--s;
      font-weight: $font-weight;
      line-height: 1.2;
      margin-top: 0.5rem;
    }

    &.form--inline {
      display: flex;
      align-items: center;

      label {
        width: auto;
        margin-bottom: 0;
      }

      input:not([type="radio"],[type="checkbox"]) {
        width: auto;
      }
    }
  }

  .form-actions {
    margin-top: 1.875rem;

    .form-submit {
      min-width: 8.75rem;
      cursor: pointer;
    }
  }

  fieldset {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    border: none;

    legend {
      margin-bottom: 0.625rem;
    }
  }
}

.block .user-login-form input {
  width: 100%;
}
