{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<header class="header">
  <div class="topbar d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-5 col-12">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{ address }}
        </div>
        <div class="col-lg-6 col-md-7 col-12 text-end">
          <ul class="top-contact">
            <li>
              <a href="tel:{{ mobile }}"><i class="fa fa-phone"></i> {{ mobile }}</a>
            </li>
            <li>
              <a href="mailto:{{ email }}"><i class="fa fa-envelope"></i> {{ email }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <div class="inner">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 col-12 d-flex align-items-center justify-content-between">
            <div class="logo">
              {{ page.branding }}
            </div>
            <div class="mobile-nav d-block d-md-none"></div>
          </div>
          <div class="col-lg-7 col-md-7 col-12 d-none d-md-block">
            <div class="main-menu">
              {{ page.primary_menu }}
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-12 d-none d-md-block">
            <div class="header__contact-us text-end">
              <a href="/" class="header__contact-us__btn">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{#
/**
* To show slideshow based on users input.
*/
#}

{% if show_slideshow_all_pages == 1 and not show_slideshow_front_page == 1 and not show_slideshow_inner_pages == 1 %}
  {{ attach_library("pets_clinic/banner") }}
  {% include "@pets_clinic/templates/layout/slider.html.twig" %}
{% endif %}

{% if is_front and show_slideshow_front_page == 1 %}
  {{ attach_library("pets_clinic/banner") }}
  {% include "@pets_clinic/templates/layout/slider.html.twig" %}
{% endif %}

{% if show_slideshow_inner_pages == 1 and not is_front %}
  {{ attach_library("pets_clinic/banner") }}
  {% include "@pets_clinic/templates/layout/slider.html.twig" %}
{% endif %}

<div class="local-task">
  <div class="container">
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
    {{ page.secondary_menu }}
  </div>
</div>

<main class="main-wrapper" role="main">
  <a id="main-content" tabindex="-1"></a>
  <div class="container">
    {%
    set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-md-3 mb-2 mb-md-0' : 'col-12 col-md-3 mb-2 mb-md-0'
    %}

    {%
    set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-3 mt-2 mt-md-0' : 'col-12 col-lg-3 mt-2 mt-md-0'
    %}

    {%
    set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-md-9' : 'col-12' )
    %}
    <div class="row">
      {% if page.sidebar_first %}
        <div id="sidebar-first" class="column sidebar {{ sidebar_first_classes }}">
          <aside class="section" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}

      <div class="wrapper {{ content_classes }}">
        {{ page.content }}
      </div>

      {% if page.sidebar_second %}
        <div id="sidebar-second" class="column sidebar {{ sidebar_second_classes }}">
          <aside class="section" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}
    </div>
  </div>
</main>

<footer class="footer text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer___address">
        <h2 class="h3">{{ site_name }}</h2>
        <ul class="list-unstyled">
          <li class="mb-1"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ address }}</li>
          <li class="mb-1"><i class="fa fa-phone"></i> {{ email }}</li>
          <li class="mb-1"><i class="fa fa-envelope"></i> {{ mobile }}</li>
        </ul>
        {{ page.footer_first }}
      </div>
      <div class="col-md-4">
        {{ page.footer_second }}
      </div>
      <div class="col-md-4">
        {{ page.footer_third }}
      </div>
    </div>
  </div>
  <div class="container d-md-flex flex-md-row-reverse justify-content-between align-items-md-center mt-4">
    {% if facebook_url or twitter_url or linkedin_url %}
      <div class="footer__social mb-lg-0 mb-2">
        {% if facebook_url %}
          <a href="{{facebook_url}}" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        {% endif %}
        {% if twitter_url %}
          <a href="{{twitter_url}}" class="twitter"><i class="fa-brands fa-square-x-twitter"></i></a>
        {% endif %}
        {% if linkedin_url %}
          <a href="{{linkedin_url}}" class="linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        {% endif %}
      </div>
    {% endif %}
    <div class="footer__copyright">
      {{ copyright_message|raw }} | {{ "Supported by" }} <a href='https://specbee.com/'>{{ "Specbee Pvt. Ltd." }}</a> 
    </div>
  </div>
</footer>