<div class="banner position-relative">
  <section class="splide" aria-label="banner" data-drupal-selector="banner">
    <div class="splide__track">
      <ul class="splide__list">
        {% for key, slide in banner %}
          <li class="splide__slide banner__slide text-center">
            <img src="{{ slide.image }}" alt="{{ slide.banner_title }}">
            <div class="container position-absolute start-0 end-0 m-auto top-0 bottom-0 d-flex align-items-center justify-content-md-end">
              <div class="col-md-6 px-0 d-md-flex justify-md-content-center flex-md-column">
                {% if slide.banner_title or slide.banner_desc or slide.banner_url_text %}
                  <div class="banner__content text-start p-4 p-4 px-5 px-lg-4">
                    {% if slide.banner_title %}
                      <h2 class="banner__title">{{ slide.banner_title }}</h2>
                    {% endif %}
                    {% if slide.banner_desc %}
                      <p class="banner_desc">{{ slide.banner_desc }}</p>
                    {% endif %}
                    {% if slide.banner_url_text %}
                      <div>
                        <a href="{{ slide.banner_url }}" class="banner__btn">{{ slide.banner_url_text }}</a>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>